Repository igdvorov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

add make-artifact stage
  backend/.gitlab-ci.yml
Due: backend

add dockerignore and change copy in Dockerfile
  backend/.dockerignore
  backend/Dockerfile
Due: backend

add docker in deploy and add label builder
  backend/Dockerfile
  backend/backend-deploy.sh
Due: backend

add docker in deploy and add label builder
  backend/.gitlab-ci.yml
Due: backend

add frontend docker ci
  backend/.dockerignore
  frontend/.dockerignore
  frontend/.gitlab-ci.yml
Due: frontend, backend

add frontend docker ci
  frontend/.gitlab-ci.yml
Due: frontend

add frontend docker ci
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

add build and deploy docker
  backend/.dockerignore
  backend/.gitlab-ci.yml
  backend/DockerInDockerTemplate.yml
  backend/Dockerfile
  backend/backend-deploy.sh
  frontend/.dockerignore
  frontend/.gitlab-ci.yml
  frontend/DockerInDockerTemplate.yml
  frontend/Dockerfile
  frontend/frontend-deploy.sh
Due: frontend, backend

Revert "Added MongoDB integration"
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Revert "add build and deploy docker"
  backend/.dockerignore
  backend/.gitlab-ci.yml
  backend/DockerInDockerTemplate.yml
  backend/Dockerfile
  backend/backend-deploy.sh
  frontend/.dockerignore
  frontend/.gitlab-ci.yml
  frontend/DockerInDockerTemplate.yml
  frontend/Dockerfile
  frontend/frontend-deploy.sh
Due: frontend, backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

change storage to s3-yandex
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

try to add var in main/res/app.props
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend, backend

disable multistage build in dockerfile
  backend/Dockerfile
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

disable multistage build in dockerfile
  backend/Dockerfile
Due: backend

try to add vault in docker pipline, disable all backend tests
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: backend

try to add vault in docker pipline, disable all backend tests
  backend/.gitlab-ci.yml
Due: backend

try to add starter...
  backend/pom.xml
Due: backend

try to add starter...
  backend/Dockerfile
Due: backend

try to add starter...
  backend/backend-deploy.sh
Due: backend

try to add vault-token file everywhere O_o
  .vault-token
  backend/.vault-token
  backend/src/main/resources/.vault-token
Due: backend

try to add vault-token file everywhere O_o
  backend/src/test/resources/application.properties
Due: backend

add vault depend, add vault vars in app.props
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/TrustAllCerts.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

add backend-report & add docker-compose build
  .gitlab-ci.yml
  DockerInDockerTemplate.yml
  backend-report/.dockerignore
  backend-report/.gitlab-ci.yml
  backend-report/DockerInDockerTemplate.yml
  backend-report/Dockerfile
  backend-report/src/main/resources/application.properties
  backend/DockerInDockerTemplate.yml
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
  docker-compose-deploy.sh
  docker-compose.yaml
  frontend/.dockerignore
  frontend/.gitlab-ci.yml
  frontend/DockerInDockerTemplate.yml
  frontend/Dockerfile
Due: frontend, backend

enable sonar test in backend-report
  backend-report/.gitlab-ci.yml
Due: none

add nginx
  docker-compose.yaml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

add actuator, add healthcheck in backend, change deploy.sh to blue-green deploy
  .gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
  blue-green-deploy.sh
  docker-compose-deploy.sh
  docker-compose.yaml
Due: backend

add curl in backend, change version to 3.7
  backend/Dockerfile
  docker-compose.yaml
Due: backend

add curl in backend, change version to 3.7
  blue-green-deploy.sh
Due: none

change front image - nginx, add kubernetes
  kubernetes/backend-reports/backend-report-pod.yaml
  kubernetes/backend-reports/backend-report-secrets.yaml
  kubernetes/backend-reports/backend-report-service.yaml
  kubernetes/backend/backend-configmap.yaml
  kubernetes/backend/backend-pod.yaml
  kubernetes/backend/backend-secrets.yaml
  kubernetes/backend/backend-service.yaml
  kubernetes/frontend/frontend-configmap.yaml
  kubernetes/frontend/frontend-pod.yaml
  kubernetes/frontend/frontend-secrets.yaml
  kubernetes/frontend/frontend-service.yaml
Due: none

change front image - nginx, add kubernetes
  frontend/Dockerfile
Due: frontend

Update vars in application.properties
  backend/src/main/resources/application.properties
Due: backend

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend
