Repository igdvorov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*

add gitlab-li backend
  backend/.gitlab-ci.yml
Due: backend

add backend-deploy.sh
  backend/.gitlab-ci.yml
  backend/backend-deploy.sh
Due: backend

add sausage-store-backend.service
  backend/sausage-store-backend.service
Due: backend

add gitlab-ci frontend
  frontend/.gitlab-ci.yml
Due: frontend

add frontend-deploy.sh
  frontend/frontend-deploy.sh
Due: frontend

add sausage-store-frontend.service
  frontend/sausage-store-frontend.service
Due: frontend

correct stages
  .gitlab-ci.yml
Due: none

correct pom.xml
  backend/pom.xml
Due: backend

add 'sudo' mv sausage-store
  frontend/frontend-deploy.sh
Due: frontend

when:manual test
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

add sonar-sast and notifications
  backend/.gitlab-ci.yml
Due: backend

add sonar-sast and notifications
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

add sonar-sast and notifications
  frontend/.gitlab-ci.yml
Due: frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add test (front,back) add notifications
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

merge branch
  .gitlab-ci.yml
Due: none

disable notification
  frontend/.gitlab-ci.yml
Due: frontend

disable notification
  backend/.gitlab-ci.yml
Due: backend

add environment production
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

add db cred in props
  backend/src/main/resources/application.properties
Due: backend

Revert "add db cred in props"
  backend/src/main/resources/application.properties
Due: backend

add db params in backend service file, change version postgresql
  README.md
  backend/pom.xml
  backend/sausage-store-backend.service
Due: backend

add db params in backend service file, change version postgresql
  README.md
Due: none

add flyway param in pom.xml; add migration scripts; add SECURE_LOG_LEVEL: debug
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/.DS_Store
  backend/src/main/resources/.DS_Store
  backend/src/main/resources/db/migration/R_create_readaccess.sql
  backend/src/main/resources/db/migration/V01_product.sql
  backend/src/main/resources/db/migration/V02_orders.sql
  backend/src/main/resources/db/migration/V03_order_product.sql
Due: backend

fix tests file
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportGeneratorTask.class
  backend/target/classes/db/migration/R_create_readaccess.sql
  backend/target/classes/db/migration/V01_product.sql
  backend/target/classes/db/migration/V02_orders.sql
  backend/target/classes/db/migration/V03_order_product.sql
  backend/target/classes/log4j2.yml
  backend/target/classes/logback.xml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.class
Due: backend

Revert "fix tests file"
  backend/src/test/resources/application.properties
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportGeneratorTask.class
  backend/target/classes/db/migration/R_create_readaccess.sql
  backend/target/classes/db/migration/V01_product.sql
  backend/target/classes/db/migration/V02_orders.sql
  backend/target/classes/db/migration/V03_order_product.sql
  backend/target/classes/log4j2.yml
  backend/target/classes/logback.xml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.class
Due: backend

Revert "Revert "add db cred in props""
  backend/src/main/resources/application.properties
Due: backend

Revert "add flyway param in pom.xml; add migration scripts; add SECURE_LOG_LEVEL: debug"
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/.DS_Store
  backend/src/main/resources/.DS_Store
  backend/src/main/resources/db/migration/R_create_readaccess.sql
  backend/src/main/resources/db/migration/V01_product.sql
  backend/src/main/resources/db/migration/V02_orders.sql
  backend/src/main/resources/db/migration/V03_order_product.sql
Due: backend

add flyway in pom, add migrations scripts, disable test
  backend/flyway.conf
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__grant_access.sql
  backend/src/main/resources/db/migration/V1_1__create_tables.sql
  backend/src/main/resources/db/migration/V1_2__insert_data.sql
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportGeneratorTask.class
  backend/target/classes/db/migration/R__grant_access.sql
  backend/target/classes/db/migration/V1_1__create_tables.sql
  backend/target/classes/db/migration/V1_2__insert_data.sql
  backend/target/classes/log4j2.yml
  backend/target/classes/logback.xml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$2.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest.class
  backend/target/test-classes/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.class
Due: backend

Revert "add flyway in pom, add migrations scripts, disable test"
  backend/flyway.conf
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__grant_access.sql
  backend/src/main/resources/db/migration/V1_1__create_tables.sql
  backend/src/main/resources/db/migration/V1_2__insert_data.sql
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/src/test/resources/application.properties
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportGeneratorTask.class
  backend/target/classes/db/migration/R__grant_access.sql
  backend/target/classes/db/migration/V1_1__create_tables.sql
  backend/target/classes/db/migration/V1_2__insert_data.sql
  backend/target/classes/log4j2.yml
  backend/target/classes/logback.xml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$2.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest.class
  backend/target/test-classes/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.class
Due: backend

add flyway migration
  backend/.gitlab-ci.yml
  backend/flyway.conf
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/R__grant_access.sql
  backend/src/main/resources/db/migration/V1_1__create_tables.sql
  backend/src/main/resources/db/migration/V1_2__insert_data.sql
  backend/src/test/resources/application.properties
Due: backend

delete inserts from migrations script
  backend/src/main/resources/db/migration/V1_1__create_tables.sql
  backend/src/main/resources/db/migration/V1_2__alter_column.sql
  backend/src/main/resources/db/migration/V1_2__insert_data.sql
Due: backend

add env to backend service unit
  backend/sausage-store-backend.service
Due: backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend
