Repository igdvorov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

mongo db to service unit, changed timer to 5 minutes
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
Due: backend

try to add docker CI part
  backend/.gitlab-ci.yml
  backend/DockerInDockerTemplate.yml
  backend/backend-deploy.sh
Due: backend

disable sast template
  backend/.gitlab-ci.yml
Due: backend

add dockerfile
  backend/Dockerfile
Due: backend

try to fix
  backend/Dockerfile
Due: backend

modify backend-deploy.sh
  backend/backend-deploy.sh
Due: backend

disable rules in deploy-backend
  backend/.gitlab-ci.yml
Due: backend

try to fix deploy not found
  backend/.gitlab-ci.yml
Due: backend

try to enable all stages
  backend/.gitlab-ci.yml
Due: backend

try to add frontend docker
  frontend/.gitlab-ci.yml
  frontend/DockerInDockerTemplate.yml
  frontend/Dockerfile
  frontend/frontend-deploy.sh
Due: frontend

try to add frontend docker
  frontend/.gitlab-ci.yml
Due: frontend

try to add front back docker
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

try to add front back docker
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

try to add front back docker
  backend/backend-deploy.sh
  frontend/frontend-deploy.sh
Due: frontend, backend

change entry point in frontend Dockerfile
  backend/Dockerfile
Due: backend

change entry point in frontend Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

try to add dependencies
  backend/.gitlab-ci.yml
Due: backend

add make-artifact stage
  backend/.gitlab-ci.yml
Due: backend

add make-artifact stage
  backend/Dockerfile
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
